			head, body {padding:0; margin:0; font-family: 'Montserrat', sans-serif;}
			#menu {background-color:#373c3f; height:60px; padding-top:40px}
			#menu span {display:none}
			#menu a {color:white; font-size:20px; font-weight:600; text-decoration:none; margin-left:40px}
			#menu ul {margin:0; padding:0}
			#menu ul  li {display:inline}
			#menu #burger {display:none}
			#block1 {height:580px;background-color:#0b9eb4}
			#block1 h1 {color:white; margin:0; font-size:44pt; padding:150px 80px 50px 80px; font-weight:600}
			#block1 a {color:#a6d5df; text-decoration:none; margin-left:80px; font-size:26pt}
			#block1 span a {color:white; font-weight:bold; font-size:26pt; margin-left:320px}
			#block2 {background-color:#27212c; height:140px; padding-top:105px}
			#block2 span {font-size:24pt; color:#9a89a8; margin-left:80px; font-weight:600}
			
			#block2 div {
				background-color:#bc3183;
				height:154px; width:245px;
				position:relative; float:right;
				margin-top:-104px; color: white;
				text-align:center; font-size:40pt;
				font-weight:bold; padding-top:90px;
				
			 }
		
			#block2 div a {color:white; text-decoration:none}
			
			#block3 {height:295px;}
			#block3 #arrow {background-color:#5b0fa1;font-size:32pt; color:white; text-align:center; font-weight:bold; padding-top:131px; height:164px; width:34%}
			#block3 #arrow a {color:white; text-decoration:none}
			#block3 div {width:33%; height:100%; position:relative; float:left}
			#block3 div img {width:100%; height:100%}
			#block4 {height:510px; background-color:#ebebeb; padding-top:55px}
			#block4 h2 {color:#088ca5; font-size:21pt; margin-left:80px; font-weight:600}
			#block4 div {position:relative; float:left; width:43%}
			#block4 div p {font-size:11pt; font-weight:600; color:#515151; line-height:2}
			#block4 #left {padding-left:80px; padding-right:40px}
	

			@media screen and (max-width: 980px) {
				#block1 {height:550px}
			}


			@media screen and (max-width: 640px){
				#menu {height:50px; padding-top:25px}
				#menu span {display:block; color:white; font-size:17pt; font-weight:600; margin-left:35px}
				#menu ul {position:absolute; top:75px; right:0; padding:20px 20px 0px; background-color:#373c3f; display:none; z-index:2}
				#menu #burger:hover #menu ul {disply:block}
				#menu ul li {display:block; padding-bottom:20px}
				#menu a {margin-left:0; font-size:12pt}
				#menu #burger {width:75px; height:75px; position:absolute; top:0; right:0; background-color:#202529; display:block; cursor:pointer}
				#line1, #line2, #line3 {background-color:white; height:4px; width:35px; position:absolute; left:20px}
				#menu #close {color:white; font-weight:600; font-size:26pt; text-align:center; width:75px; height:75px; position:absolute; top:18px; right:0; z-index:3}
				#menu #burger #line1 {top:25px}
				#menu #burger #line2 {top:35px}
				#menu #burger #line3 {top:45px}
				#menu #burger #close {display:none}
				#block1 {height:350px}
				#block1 h1 {padding: 110px 0 30px 50px; font-size:28pt}
				#block1 a {margin-left:50px; font-size:16pt}
				#block1 span a {font-size: 20pt; margin-left:200px}
				#block2 {height:83px; padding-top:67px}
				#block2 span {margin-left:50px; font-size:14pt}
				#block2 div {width:150px; height:90px; padding-top:60px; margin-top:-67px}
				#block2 div a {font-size:25pt}
				#block3 {height:1650px}
				#block3 div {width:100%; height:550px}
				#block3 #arrow {width:100%; padding-top:260px; height:290px}
				#block4 {padding-top:52px; height:800px}
				#block4 h2 {margin-left:75px}
				#block4 #left, #block4 #right {padding-left:75px; padding-right:75px; width:75%}
			}
			

			@media screen and (max-width: 320px){
				#menu {height:35px; padding-top:13px}
				#menu span {font-size:12pt; margin-left:20px}
				#menu #burger {width:48px; height:48px}
				#menu #burger div {height:3px; width:22px; left:14px}
				#menu #burger #line1 {top:15px}
				#menu #burger #line2 {top:22px}
				#menu #burger #line3 {top:29px}
				#menu #close {font-size:20pt; width:75px; height:75px; top:8px}
				#menu ul {top:48px}
				#menu a {font-size:10pt}
				#block1 {height:175px}
				#block1 h1 {padding: 60px 0 15px 25px; font-size:14pt}
				#block1 a {font-size:8pt; margin-left:25px}
				#block1 span a {font-size:12pt; margin-left:100px}
				#block2 {height:41px; padding-top:34px}
				#block2 span {font-size:7pt; margin-left:25px}
				#block2 div {width:75px; padding-top:30px; height:45px; margin-top:-34px}
				#block2 div a {font-size:15pt}
				#block3 {height:825px}
				#block3 div {height:275px}
				#block3 #arrow {padding-top:120px; height:155px}
				#block4 {padding-top:20px; height:1400px}
				#block4 h2 {margin-left:40px}
				#block4 #left, #block4 #right {padding-left:40px; padding-right:40px; width:73%}

			}